* {
	margin: 0;
	padding: 0;
	background-color: #e9e9e9;
}

body {
	padding-top: 15vh;
}

h1 {
	font-size: 4rem;
	margin-bottom: 3rem;
	color: rgb(62, 136, 255);
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input {
	width: 50vw;
	padding: 15px;
	font-weight: 700;
	font-size: 1.2rem;
	border: none;
	border-bottom: 2px solid rgb(62, 136, 255);
	border-left: 2px solid rgb(62, 136, 255);
}

input::placeholder{
  font-size: .9rem;
}

input:focus {
	outline: none;
}

.result {
	text-align: center;
	margin-top: 3rem;
	font-size: 2rem;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 426px) {
	.result {
		font-size: 0.8rem;
    font-weight: 700;
	}
  h1{
    font-size: 1.8rem;
  }
}
